<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="theme-color" content="#000000" />
        <title>Lightning Chess</title>
        <link rel="stylesheet" href="http://34.98.110.68/build/static/css/main.073c9b0a.css">
    </head>
    <body>
        <main id="root"></main>

        <script src="http://34.98.110.68/build/static/js/main.52427f9e.js"></script>
        <noscript>You need to enable JavaScript to run this app.</noscript>
    </body>
</html>
