<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="theme-color" content="#000000" />
        <title>Lightning Chess</title>
        <link rel="stylesheet" href="{{fe_url}}/build/static/css/main.e6c13ad2.css">
    </head>
    <body>
        <main id="root"></main>
        <script src="{{fe_url}}/build/static/js/main.68f3f700.js"></script>
        <noscript>You need to enable JavaScript to run this app.</noscript>
    </body>
</html>
